@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Roboto', Arial;
    margin: 0px;

    /* Couleur d'arrière-plan: #1d3557 */
    background-color: #1d3557;

    /* Couleur du texte: #272727 */
    color: #272727;
}

/* Ce sélecteur veut dire: header ET main ET footer */
header,
main,
footer {
    width: 100%;
    background-color: #f1faee;
    padding: 14px;
    margin: 14px 0px;
    border-radius: 3px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
}

/*
Sélecteur: Div ayant la classe interface
Propriétés:
 - Largeur de 800px
 - Marge de gauche avec la valeur: auto
 - Marge de droite avec la valeur: auto

 ## Information : La marge automatique permet de centrer le contenu ##
*/
.interface {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/*
Sélecteur: Titre principal
Propriétés:
 - Largeur de 800px
 - Marge du haut avec une valeur de 20 pixels
 - Grosseur du texte de 50 pixels
 - Texte aligné au centre
 - Couleur d'arrière-plan: #a8dadc;
*/
h1 {
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    background-color: #a8dadc;
}

/*
Sélecteur: Titre secondaire
Propriétés:
 - Bordure du bas: 2px dotted #a8dadc
*/
h2 {
    border-bottom: 2px dotted #a8dadc;
}

/*
Sélecteur: Tous les liens
Propriétés:
 - Couleur du texte: #457b9d
*/
a {
    color: #457b9d;
}


/*
Sélecteur: Tous les liens lors du survol de la souris (nouveau!)
Propriétés:
 - Couleur du texte: #1d3557

## Le résultat devrait être un changement de couleur lorsqu'on survol un lien avec la souris ##
## Le sélecteur devrait ressembler à nombalise:quelquechose {
*/
a:hover {
    color: #1d3557;
}

/*
Sélecteur: Les images de la galerie d'image
Propriétés:
 - hauteur de 100 pixels

## Il faudra probablement ajouter la même classe sur chaque image ##
*/
img.miniature {
    height: 100px;
}

/*
Sélecteur: Les images de la galerie d'image lors du survol de la souris (nouveau!)
Propriétés:
 - height: 130px;
 - vertical-align: top;
 - transition-property: height;
 - transition-duration: 0.2s;

## Qu'est ce que ça change? Quel est le sens de chacune de ces 3 propriétés? Faites des tests + Google! ##
*/
img.miniature:hover {
    height: 130px;
    vertical-align: top;
    transition-property: height;
    transition-duration: 0.2s;
}

/*
Sélecteur: Le "texte" du drapeau de pirate dans le titre principal
Propriétés:
 - filter: grayscale(1) contrast(1.3);

##  ##
*/
span.drapeau {
    filter: grayscale(1) contrast(1.3);
}